[submodule "packages/utp"]
	path = packages/utp
	url = git@github.com:OzymandiasTheGreat/utp-native.git
[submodule "packages/sodium"]
	path = packages/sodium
	url = git@github.com:OzymandiasTheGreat/sodium-native.git
[submodule "packages/leveldown/leveldb"]
	path = packages/leveldown/leveldb
	url = https://github.com/google/leveldb.git
